/* Add these styles to your CSS file */

.content-section {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.products-list {
    width: 80%;
}

.filtering-section {
    width: 20%;
    margin-top: 1%;
}

@media screen and (max-width: 768px) {
    .content-section {
        flex-direction: column-reverse;
    }

    .products-list,
    .filtering-section {
        width: 100%;
        margin-right: 0;
    }

    .filtering-section {
        order: 0;
        margin-top: 4%;
    }
}