/* Add these styles to your CSS file */

.content-section {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.products-list {
    width: 77%;
    margin-right: 3%;
}

.filtering-section {
    width: 20%;
    margin-top: 1%;
}

.s-nav {
    margin-top: 25%;
    position: relative;
    display: inline-block;
}

.s-icon {
    cursor: pointer;
    font-size: 2em;
}

.s-icon:hover {
    color: #888;
}

.s-total-qty {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #f00;
    color: #fff;
    padding: 2px 4px;
    border-radius: 50%;
    font-size: 0.75em;
    font-size: 0.9em;
}

.icons-section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    /* Adjust as needed */
}

.left-icons,
.right-icons {
    display: flex;
    gap: 10px;
    /* Adjust as needed */
}

@media screen and (max-width: 768px) {
    .icons-section {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
        /* Adjust as needed */
    }

    .left-icons,
    .right-icons {
        margin-bottom: 10px;
        /* Adjust as needed */
    }
}


@media screen and (max-width: 768px) {
    .content-section {
        flex-direction: column-reverse;
    }

    .products-list,
    .filtering-section {
        width: 100%;
        margin-right: 0;
    }

    .filtering-section {
        order: 0;
        margin-top: 4%;
    }
}