
body{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
}

.app-spacer {
  min-height: 92vh;
}

/* Themes start */

.dark-section {
  background-color: #0b0b0b;
  color: #fff;
}

.dark-background {
  background-color: #181818;
  color: #fff;
}

.dark-text {
  color: white;
}

.light-section {
  background-color: #fff;
  color: #000000;
}

.light-background {
  background-color: #f4f4f4;
  color: #000000;
}

.light-text {
  color: #141414;
}



.dark-background:-webkit-autofill,
.light-background:-webkit-autofill {
  box-shadow: 0 0 0 30px #181818 inset; 
  -webkit-text-fill-color: #fff;
}

.light-background:-webkit-autofill {
  box-shadow: 0 0 0 30px #f4f4f4 inset;
  -webkit-text-fill-color: #000;
}

/* Themes end */