/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
}

.app-spacer {
  min-height: 88.8vh;
}

/* Themes start */

.dark-section {
  background-color: #000000; /* Цвет фона темных секций */
  color: #fff; /* Цвет текста в темных секциях */
}

.dark-background {
  background-color: #181818; /* Цвет заднего фона в темной теме */
  color: #fff; /* Цвет текста на темном заднем фоне */
}

.dark-text {
  color: white; /* Цвет текста в темных секциях */
}

.light-section {
  background-color: #fff; /* Цвет фона светлых секций */
  color: #000000; /* Цвет текста в светлых секциях */
}

.light-background {
  background-color: #f4f4f4; /* Цвет заднего фона в светлой теме */
  color: #000000; /* Цвет текста на светлом заднем фоне */
}

.light-text {
  color: #141414; /* Цвет текста в светлых секциях */
}

/* Style for autofill */
.dark-background:-webkit-autofill,
.light-background:-webkit-autofill {
  box-shadow: 0 0 0 30px #181818 inset; /* Adjust the color and inset shadow for dark theme */
  -webkit-text-fill-color: #fff; /* Set text color for autofill in dark theme */
}

.light-background:-webkit-autofill {
  box-shadow: 0 0 0 30px #f4f4f4 inset; /* Adjust the color and inset shadow for light theme */
  -webkit-text-fill-color: #000; /* Set text color for autofill in light theme */
}

/* Themes end */